{% extends "layout.html" %}
{% block body %}
    <div id="root"></div>
    
    <script type="text/javascript">
        window.localParams = {};
        {% if params %}
            {% for param in params %}
                window.localParams['{{param["name"]}}'] = '{{param["val"]}}';
            {% endfor %}
        {% endif %}
    </script>

    <script src="/static/web/js/common.js"></script>
    {% if scripts %}
        {% for script in scripts %}
            <script src="/static/web/js/{{ script }}.js"></script>
        {% endfor %}
    {% endif %}

{% endblock %}