/*

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
$theme-colors: (
    primary: theme-color-level(primary, 4)
);

$navbar-dark-color: $primary;

*/


@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';


$theme-colors: (
    primary: $purple
);
$link-color: $purple;
$link-hover-color: darken($purple, 15%);
$component-active-bg: $purple;

// Pagination
$pagination-color:                  $link-color;
$pagination-hover-color:            $link-hover-color;
$pagination-active-color:           $component-active-color;
$pagination-active-bg:              $component-active-bg;
$pagination-active-border-color:    $pagination-active-bg;

@import 'bootstrap/scss/bootstrap.scss';

.hidden {
    display: none;
}

#root {
    padding-top: 75px;



    .chat-page {
        .user-list {
            .badge {
                margin-right: 10px;
            }
        }
        textarea {
            resize: none;
        }
        .message-list {
            overflow: auto;
            margin-bottom: 20px;
            .table {
                margin-bottom: 0;
            }
        }
    }
}
