/*

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
$theme-colors: (
    primary: theme-color-level(primary, 4)
);

$navbar-dark-color: $primary;

*/

@import 'bootstrap/scss/bootstrap.scss';

.hidden {
    display: none;
}

#root {
    padding-top: 75px;

    .chat-page {
        .user-list {
            .badge {
                margin-right: 10px;
            }
        }
        textarea {
            resize: none;
        }
        .message-list {
            overflow: auto;
            margin-bottom: 20px;
            .table {
                margin-bottom: 0;
            }
        }
    }
}



